/*
 * We shouldn't remove appearance on default element since plugins could sometimes add markup which we have no control over.
 * And it would actually be a pain to style plugins output from scratch instead of using the default appearance and styling that.
 */

// input,
// select,
// textarea {
// 	display: block;
// 	margin: 0;
// 	padding: 0;
// 	width: 100%;
// 	outline: 0;
// 	border: 0;
// 	border-radius: 0;
// 	background: none transparent;
// 	color: inherit;
// 	font: inherit;
// 	line-height: normal;
// 	appearance: none;
// }

select {
	text-transform: none;

	&::-ms-expand {
		display: none;
	}

	&::-ms-value {
		background: none;
		color: inherit;
	}
}

textarea {
	overflow: auto;
	resize: vertical;
}

.wpcf7 form .wpcf7-spinner {
	display: none;
}

.wpcf7 form .wpcf7-response-output {
	position: fixed;
	bottom: rem(24px);
	left: calc(50% - var(--container-spacing-md));
	display: flex !important;
	align-items: center;
	width: rem(320px);
	max-width: calc(100% - calc(var(--container-spacing-md) * 2));
	min-height: rem(56px);
	margin: 0 var(--container-spacing-md);
	padding: rem(16px);
	transform: translate3d(-50%, calc(100% + #{rem(24px)}), 0);
	border: none;
	border-radius: rem(4px);
	box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.1), 0 4px 8px 3px rgba(60, 64, 67, 0.05);
	background-color: $surface-500;
	color: $on-surface-500;
	z-index: 40;
	@include typography-style("body2");
	@include transition("transform", $duration: "fast", $easing: "exiting");

	&.is-active {
		transform: translate3d(-50%, 0, 0);
		@include transition("transform", $duration: "fast", $easing: "incoming");
	}
}
