// 1. Setting 'vertical-align' removes the whitespace that appears under 'img' elements when they are dropped into a page as-is. Safer alternative to using 'display: block;'.
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle; // [1]
}

// Add the correct display in iOS 4-7.
audio:not([controls]) {
	display: none;
	height: 0;
}

// 1. Fluid media for responsive purposes.
// 2. If a 'width' and/or 'height' attribute have been explicitly defined, do not make the image fluid.
img,
svg {
	max-width: 100%; // [1]
	height: auto;

	&[width],
	&[height] {
		max-width: none; // [2]
	}
}

// 1. Offset 'alt' text from surrounding copy.
img {
	font-style: italic; // [1]
}

// 1. SVG elements should fallback to their surrounding text color.
svg {
	fill: currentColor; // [1]
}

figure {
	margin: 0;
}
