/// Converts the given pixel value to its REM quivalent.
///
/// @param {number} $size - The pixel value to convert.
/// @param {number} $base [$global-font-size] - The base font size.
/// @return {number} - Scalable pixel value in REMs.
@function rem($size, $base: $global-font-size) {
	@if (type-of($size) ==number) {
		@if (unit($size) != "px") {
			@error "'#{$size}' needs to be a pixel value.";
		}
	} @else {
		@error "'#{$size}' needs to be a number.";
	}

	@if (type-of($base) ==number) {
		@if (unit($base) != "px") {
			@error "'#{$base}' needs to be a pixel value.";
		}
	} @else {
		@error "'#{$base}' needs to be a number.";
	}

	@return math.div($size, $base) * 1rem;
}

/// Gets as deeply nested values as you want and can also be used as a regular map-get function.
///
/// @param {map} $size - The map to search.
/// @param {list} $keys - A list of all the keys to get.
/// @return {string} - The value associated with the key.
@function map-deep-get($map, $keys...) {
	$scope: $map;
	$i: 1;

	@while (type-of($scope) ==map) and ($i <=length($keys)) {
		$scope: map-get($scope, nth($keys, $i));
		$i: $i + 1;
	}

	@return $scope;
}
