/// Returns the typography style for a desired typography style
///
/// @param {string} $typography-style - The desired typography style.
/// @param {string} $typography-style - Whether you want to include the content scope styling or not.
@mixin typography-style($typography-style, $include-content-scope-styling: true) {
	$font-family: map-deep-get($typography-styles, $typography-style, "font-family");
	$font-weight: map-deep-get($typography-styles, $typography-style, "font-weight");
	$font-size: map-deep-get($typography-styles, $typography-style, "font-size");
	$font-size-laptop: map-deep-get($typography-styles, $typography-style, "font-size-laptop");
	$font-size-tablet: map-deep-get($typography-styles, $typography-style, "font-size-tablet");
	$font-size-mobile: map-deep-get($typography-styles, $typography-style, "font-size-mobile");
	$min-font-size: map-deep-get($typography-styles, $typography-style, "min-font-size");
	$line-height: map-deep-get($typography-styles, $typography-style, "line-height");
	$text-transform: map-deep-get($typography-styles, $typography-style, "text-transform");
	$letter-spacing: map-deep-get($typography-styles, $typography-style, "letter-spacing");
	$opacity: map-deep-get($typography-styles, $typography-style, "opacity");
	$margin-top: map-deep-get($typography-styles, $typography-style, "margin-top");
	$margin-bottom: map-deep-get($typography-styles, $typography-style, "margin-bottom");
	text-transform: $text-transform;

	font-family: $font-family;
	font-size: rem($font-size);
	font-weight: $font-weight;
	letter-spacing: $letter-spacing;

	@if (unit($font-size) != "px") {
		@error "Desktop font size must use 'px' units.";
	}
	@if ($font-size-laptop and unit($font-size-laptop) != "px") {
		@error "Laptop font size must use 'px' units.";
	}
	@if ($font-size-tablet and unit($font-size-tablet) != "px") {
		@error "Tablet font size must use 'px' units.";
	}
	@if ($font-size-mobile and unit($font-size-mobile) != "px") {
		@error "Mobile font size must use 'px' units.";
	}

	@if (unit($line-height) == "px") {
		line-height: math.div($line-height, $font-size);
	} @else if(unit($line-height) == "") {
		line-height: $line-height;
	} @else {
		@error "Line height must be unitless or use 'px' units.";
	}

	@if ($opacity) {
		opacity: $opacity;
	}

	@if ($font-size-laptop) {
		@media (max-width: $from-laptop) {
			font-size: rem($font-size-laptop);
		}
	}
	@if ($font-size-tablet) {
		@media (max-width: $from-tablet) {
			font-size: rem($font-size-tablet);
		}
	}
	@if ($font-size-mobile) {
		@media (max-width: $from-mobile-l) {
			font-size: rem($font-size-mobile);
		}
	}

	@if ($min-font-size) {
		@if (unit($min-font-size) != "px") {
			@error "Minimum font size must use 'px' units.";
		}
		@if ($min-font-size > $font-size) {
			@error "Minimum font size must be smaller than desktop font size.";
		} @else if ($font-size-laptop and $min-font-size > $font-size-laptop) {
			@error "Minimum font size must be smaller than laptop font size.";
		} @else if ($font-size-tablet and $min-font-size > $font-size-tablet) {
			@error "Minimum font size must be smaller than tablet font size.";
		} @else if ($font-size-mobile and $min-font-size > $font-size-mobile) {
			@error "Minimum font size must be smaller than mobile font size.";
		}
		@if ($min-font-size > $font-size * (1 - $scale-factor)) {
			@media (max-width: $from-laptop-m) {
				font-size: $min-font-size;
			}
		} @else if ($min-font-size > $font-size * (1 - $scale-factor * 2)) {
			@media (max-width: $from-laptop) {
				font-size: $min-font-size;
			}
		} @else if ($font-size-laptop and $min-font-size > $font-size-laptop * (1 - $scale-factor * 2)) {
			@media (max-width: $from-laptop) {
				font-size: $min-font-size;
			}
		} @else if ($font-size-tablet and $min-font-size > $font-size-tablet * (1 - $scale-factor * 2)) {
			@media (max-width: $from-tablet) {
				font-size: $min-font-size;
			}
		} @else if ($font-size-mobile and $min-font-size > $font-size-mobile * (1 - $scale-factor * 2)) {
			@media (max-width: $from-mobile-l) {
				font-size: $min-font-size;
			}
		}
	}

	@if ($include-content-scope-styling) {
		.s-content & {
			@if ($margin-top or $margin-bottom) {
				@if ($margin-top) {
					@if (unit($margin-top) == "em") {
						margin-top: $margin-top;
					} @else if(unit($margin-top) == "px") {
						margin-top: #{math.div($margin-top, $font-size) + "em"};
					} @else {
						@error "Margins must use 'em' or 'px' units.";
					}
				}
				@if ($margin-bottom) {
					@if (unit($margin-bottom) == "em") {
						margin-bottom: $margin-bottom;
					} @else if(unit($margin-bottom) == "px") {
						margin-bottom: #{math.div($margin-bottom, $font-size) + "em"};
					} @else {
						@error "Margins must use 'em' or 'px' units.";
					}
				}
			}
		}
	}
}

/// Generates a container
///
/// @param {string} $size ['md'] - The size of the container to generate.
/// @param {bool} $include-base ['true'] - Whether you want to include the base styling or not.
@mixin container($size: "md", $include-base: true) {
	max-width: rem(map-deep-get($containers, $size, "max-width"));
	padding-right: rem(map-deep-get($containers, $size, "spacing-desktop"));
	padding-left: rem(map-deep-get($containers, $size, "spacing-desktop"));

	@if $include-base {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	@media (max-width: $from-laptop-l) and (min-width: $to-laptop) {
		padding-right: rem(map-deep-get($containers, $size, "spacing-laptop-l"));
		padding-left: rem(map-deep-get($containers, $size, "spacing-laptop-l"));
	}

	@media (max-width: $from-laptop) and (min-width: $to-tablet) {
		padding-right: rem(map-deep-get($containers, $size, "spacing-laptop"));
		padding-left: rem(map-deep-get($containers, $size, "spacing-laptop"));
	}

	@media (max-width: $from-tablet) and (min-width: $to-mobile-l) {
		padding-right: rem(map-deep-get($containers, $size, "spacing-tablet"));
		padding-left: rem(map-deep-get($containers, $size, "spacing-tablet"));
	}

	@media (max-width: $from-mobile-l) {
		padding-right: rem(map-deep-get($containers, $size, "spacing-mobile"));
		padding-left: rem(map-deep-get($containers, $size, "spacing-mobile"));
	}
}

/// Generates consistent transitions
///
/// @param {string} $properties - Comma seperated list of all the proprieties to transition.
/// @param {string} $duration ['medium'] - The speed of the transition. Fast, medium or slow.
/// @param {string} $easing ['standard'] - The easing of the transition. Standard, decelerated or accelerated.
///
/// @link https://material.io/design/motion/speed.html
@mixin transition($properties, $duration: "medium", $easing: "standard", $delay: "") {
	@if ($properties) {
		transition-property: #{$properties};
	}

	// Duration

	// Elements with small transition areas, such as icons and selection controls, have short durations.
	@if ($duration== "fast") {
		transition-duration: $fast-speed;
	}

	// Elements with larger transition areas, such as bottom sheets and expanding chips, have slightly longer durations.
	@if ($duration== "medium") {
		transition-duration: $medium-speed;
	}

	// Animated elements that traverse a large portion of the screen have the longest durations.
	@if ($duration== "slow") {
		transition-duration: $slow-speed;
	}

	// Easing

	// Standard easing subtly brings attention to the end of an animation by taking more time to decelerate than accelerate.
	// Standard easing is the most common form of easing.
	@if ($easing== "standard") {
		transition-timing-function: $standard-easing;
	}

	// Incoming elements are animated using decelerated easing, in which transitions begin at peak velocity
	// (the fastest point in an element's movement) and end at rest.
	@if ($easing== "incoming") {
		transition-timing-function: $incoming-easing;
	}

	// Elements exiting a screen use accelerated easing, a transition in which the element starts at rest and ends at peak velocity.
	@if ($easing== "exiting") {
		transition-timing-function: $exiting-easing;
	}

	// Delay

	@if ($delay) {
		transition-delay: #{$delay};
	}
}

/// Loops through all responsive breakpoints
@mixin responsive-breakpoints {
	@if (variable-exists(responsive-breakpoints)) {
		@each $breakpoint-name, $breakpoint-value in $responsive-breakpoints {
			$breakpoint-name: $breakpoint-name !global;
			$breakpoint-value: $breakpoint-value !global;
			@media (max-width: #{$breakpoint-value}) {
				@content;
			}
		}
	}
}

///
/// Generates an icon
///
/// @param {string} $name [''] - The icon name (from the filename in the assets/src/icons folder)
/// @param {number} $size ['$spacing-unit'] - The icon size
/// @param {string} $color ['$on-background'] - The icon color
/// @param {Boolean} $include-base [true] - Whether you want to include the base styling or not.
///
@mixin icon($name: "", $size: $spacing-unit, $color: currentColor, $include-base: true) {
	@if ($include-base) {
		display: inline-block;
		width: rem($size);
		height: rem($size);
		background-color: $color;
		vertical-align: middle;
	}

	@if ($name != "") {
		mask-image: url("#{$theme-path}/assets/dist/icons/stack/svg/sprite.stack.svg##{$name}");
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
	}
}

/// Generates styling for a ratio container div
///
/// @param {string} $ratio ['1:1'] - The ratio you want to generate. Ex: 16:9, 4:3, or 1:1 (default).
/// @param {Boolean} $include-base [true] - Whether you want to include the base styling or not.
@mixin ratio(
	$ratio: (
		1: 1,
	),
	$include-base: true
) {
	@if ($include-base) {
		position: relative;
		display: block;

		&::before {
			content: "";
			display: block;
			width: 100%;
		}
	}

	@each $antecedent, $consequent in $ratio {
		@if (type-of($antecedent) !=number) {
			@error "'#{$antecedent}' needs to be a number.";
		}

		@if (type-of($consequent) !=number) {
			@error "'#{$consequent}' needs to be a number.";
		}

		&::before {
			padding-bottom: math.div($consequent, $antecedent) * 100%;
		}
	}
}

/// Generates a section
///
/// @param {string} $size ['default'] - The size of the section to generate.
@mixin section($size: "default") {
	padding-top: rem(map-deep-get($sections, $size, "spacing-top-desktop"));
	padding-bottom: rem(map-deep-get($sections, $size, "spacing-bottom-desktop"));

	@media (max-width: $from-laptop) and (min-width: $to-tablet) {
		padding-top: rem(map-deep-get($sections, $size, "spacing-top-laptop"));
		padding-bottom: rem(map-deep-get($sections, $size, "spacing-bottom-laptop"));
	}

	@media (max-width: $from-tablet) {
		padding-top: rem(map-deep-get($sections, $size, "spacing-top-tablet"));
		padding-bottom: rem(map-deep-get($sections, $size, "spacing-bottom-tablet"));
	}
}

/// Generates consistent styling for making absolutely positioned elements take all available space from parent
///
/// @param {string} $object-fit [''] - Optional parameter to add an object fit of either cover or contain
@mixin absolute-fill($object-fit: "") {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;

	@if $object-fit== "cover" {
		object-fit: cover;
	} @else if $object-fit== "contain" {
		object-fit: contain;
	}
}

/// Shortcut to set all positions at once
///
/// @param {number} $offset ['0px'] - Optional parameter to add an offset to the inset.
@mixin inset($offset: 0px) {
	top: rem($offset);
	right: rem($offset);
	bottom: rem($offset);
	left: rem($offset);
}

/// Adds a class to the root element
///
/// @param {string} $selector - The class to add.
/// @link https://medium.com/buddy-reno/using-sass-at-root-for-nesting-variants-874735eb5766
@mixin variant($selector) {
	@at-root #{$selector}#{&} {
		@content;
	}
}

/// Hides an element while keeping it accessible to screen readers
///
/// @link https://a11y-guidelines.orange.com/en/web/components-examples/accessible-hiding/
@mixin accessibility-hidden {
	position: absolute;
	left: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0, 0, 0, 0);
}

/// Prevents text from wrapping onto multiple lines for the current element.
/// An ellipsis is appended to the end of the line.
///
/// 1. Ensure that the node has a maximum width after which truncation can occur.
///
/// @param {Number} $width [100%] - The maximum width of element.
@mixin truncate($width: 100%) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@if $width {
		max-width: $width; // [1]
	}
}

/// Media query that is only valid when the device has a touch screen or uses a stylus
@mixin is-touch {
	@media (hover: none) and (pointer: coarse) {
		@content;
	}

	@media (hover: none) and (pointer: fine) {
		@content;
	}
}
