:root {
	//--header-height: #{rem(80px)};

	// Sections
	@each $size, $section-attributes in $sections {
		--section-spacing-#{$size}: #{rem(map-deep-get($sections, $size, "spacing-top-desktop"))};

		@media (max-width: $from-laptop) and (min-width: $to-tablet) {
			--section-spacing-#{$size}: #{rem(map-deep-get($sections, $size, "spacing-top-laptop"))};
		}

		@media (max-width: $from-tablet) {
			--section-spacing-#{$size}: #{rem(map-deep-get($sections, $size, "spacing-top-tablet"))};
		}
	}

	// Containers
	@each $size, $container-attributes in $containers {
		--container-spacing-#{$size}: #{rem(map-deep-get($containers, $size, "spacing-desktop"))};

		@media (max-width: $from-laptop-l) and (min-width: $to-laptop) {
			--container-spacing-#{$size}: #{rem(map-deep-get($containers, $size, "spacing-laptop-l"))};
		}

		@media (max-width: $from-laptop) and (min-width: $to-tablet) {
			--container-spacing-#{$size}: #{rem(map-deep-get($containers, $size, "spacing-laptop"))};
		}

		@media (max-width: $from-tablet) and (min-width: $to-mobile-l) {
			--container-spacing-#{$size}: #{rem(map-deep-get($containers, $size, "spacing-tablet"))};
		}

		@media (max-width: $from-mobile-l) {
			--container-spacing-#{$size}: #{rem(map-deep-get($containers, $size, "spacing-mobile"))};
		}
	}
}

.c-callout_media {
	margin-left: var(--container-spacing-md);
}
