.o-container {
	@include container;

	&.-fullbleed {
		padding-left: 0;
		padding-right: 0;
	}

	&.-uncontained {
		max-width: none;
	}

	@each $size, $container-attributes in $containers {
		@if ($size != "md") {
			&.-#{$size} {
				@include container($size, $include-base: false);
			}
		}
	}
}
