$grid-size: 8;

$gap-sizes: (
	"-xxs": $spacing-unit-xxs,
	"-xs": $spacing-unit-xs,
	"-sm": $spacing-unit-sm,
	null: $spacing-unit,
	"-lg": $spacing-unit-lg,
	"-xl": $spacing-unit-xl,
	"-xxl": $spacing-unit-xxl,
	"-xxxl": $spacing-unit-xxxl,
);

.o-grid {
	display: grid;

	&.-flow-row {
		grid-auto-flow: row;
	}

	&.-flow-col {
		grid-auto-flow: column;
	}

	&.-justify-start {
		justify-content: flex-start;
	}

	&.-justify-end {
		justify-content: flex-end;
	}

	&.-justify-center {
		justify-content: center;
	}

	&.-justify-between {
		justify-content: space-between;
	}

	&.-justify-around {
		justify-content: space-around;
	}

	&.-justify-evenly {
		justify-content: space-evenly;
	}

	&.-items-start {
		align-items: flex-start;
	}

	&.-items-end {
		align-items: flex-end;
	}

	&.-items-center {
		align-items: center;
	}

	&.-items-baseline {
		align-items: baseline;
	}

	&.-items-stretch {
		align-items: stretch;
	}

	@for $i from 1 through $grid-size {
		&.-cols-#{$i} {
			grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
		}

		&.-rows-#{$i} {
			grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
		}
	}

	@include responsive-breakpoints {
		@for $i from 1 through $grid-size {
			&.-cols-#{$i}#{$breakpoint-separator}#{$breakpoint-name} {
				grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
			}
			&.-rows-#{$i}#{$breakpoint-separator}#{$breakpoint-name} {
				grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
			}
		}
	}

	@each $suffix, $gap-size in $gap-sizes {
		&.-gap#{$suffix} {
			gap: rem($gap-size);
		}

		&.-gap-y#{$suffix} {
			row-gap: rem($gap-size);
		}

		&.-gap-x#{$suffix} {
			column-gap: rem($gap-size);
		}
	}

	@include responsive-breakpoints {
		@each $suffix, $gap-size in $gap-sizes {
			&.-gap#{$suffix}#{$breakpoint-separator}#{$breakpoint-name} {
				gap: rem($gap-size);
			}

			&.-gap-y#{$suffix}#{$breakpoint-separator}#{$breakpoint-name} {
				row-gap: rem($gap-size);
			}

			&.-gap-x#{$suffix}#{$breakpoint-separator}#{$breakpoint-name} {
				column-gap: rem($gap-size);
			}
		}
	}
}

.o-grid_item {
	@for $i from 1 through $grid-size {
		&.-col-span-#{$i} {
			grid-column: span #{$i} / span #{$i};
		}

		&.-col-start-#{$i} {
			grid-column-start: #{$i};
		}

		&.-col-end-#{$i} {
			grid-column-end: #{$i};
		}

		&.-row-span-#{$i} {
			grid-row: span #{$i} / span #{$i};
		}

		&.-row-start-#{$i} {
			grid-row-start: #{$i};
		}

		&.-row-end-#{$i} {
			grid-row-end: #{$i};
		}
	}
}
