//
// Gets all the icons from sprite.scss and implements them as mask-image.
//
// Gulp generates 2 files:
//
// -> dist/icons/stack/svg/sprite.stack.svg
// Contains all the svgs from the assets/src/icons folder and names them from their file name.
//
// -> assets/src/scss/sprite.scss
// Contains variables to access the icons data (names, paths, etc.).
//
// To add an icon, simply add your SVG in the assets/src/icons folder and run gulp to generate the updated files.
// Your icon will now be available and named from its original file name.

$icon-sizes: (
	"xs": $spacing-unit-xs,
	"sm": $spacing-unit-sm,
	"lg": $spacing-unit-lg,
	"xl": $spacing-unit-xl,
);

$icon-colors: (
	"primary-500": $primary-500,
	"on-primary-500": $on-primary-500,
	"secondary-500": $secondary-500,
	"on-secondary-500": $on-secondary-500,
	"surface-500": $surface-500,
	"on-surface-500": $on-surface-500,
);

.o-icon {
	display: inline-flex;
	vertical-align: middle;

	@each $name in $icons {
		&.-#{$name} {
			&::after {
				content: "";
				@include icon($name: $name);
			}
		}
	}

	@each $size-namespace, $size in $icon-sizes {
		&.-#{$size-namespace} {
			&::after {
				width: rem($size);
				height: rem($size);
			}
		}
	}

	@each $key, $value in $icon-colors {
		&.-#{$key} {
			&::after {
				color: $value;
				background-color: $value;
			}
		}
	}
}
