$gutter-sizes: (
	"-xxs": $spacing-unit-xxs,
	"-xs": $spacing-unit-xs,
	"-sm": $spacing-unit-sm,
	null: $spacing-unit,
	"-lg": $spacing-unit-lg,
	"-xl": $spacing-unit-xl,
	"-xxl": $spacing-unit-xxl,
	"-xxxl": $spacing-unit-xxxl,
);

.o-layout {
	display: flex;
	flex-wrap: wrap;

	@each $suffix, $gutter-size in $gutter-sizes {
		&.-gutter-x#{$suffix} {
			margin-left: rem(-$gutter-size);
		}
		&.-gutter-y#{$suffix} {
			margin-top: rem(-$gutter-size);
		}
	}

	&.-col {
		flex-direction: column;
	}

	&.-col-reverse {
		flex-direction: column-reverse;
	}

	&.-row-reverse {
		flex-direction: row-reverse;
	}

	&.-start {
		justify-content: flex-start;
	}

	&.-center {
		justify-content: center;
	}

	&.-end {
		justify-content: flex-end;
	}

	&.-space-between {
		justify-content: space-between;
	}

	&.-top {
		align-items: flex-start;
	}

	&.-middle {
		align-items: center;
	}

	&.-bottom {
		align-items: flex-end;
	}

	&.-nowrap {
		flex-wrap: nowrap;
	}

	@include responsive-breakpoints {
		@each $suffix, $gutter-size in $gutter-sizes {
			&.-gutter-x#{$suffix}#{$breakpoint-separator}#{$breakpoint-name} {
				margin-left: rem(-$gutter-size);
			}
			&.-gutter-y#{$suffix}#{$breakpoint-separator}#{$breakpoint-name} {
				margin-top: rem(-$gutter-size);
			}
		}

		&.-col#{$breakpoint-separator}#{$breakpoint-name} {
			flex-direction: column;
		}

		&.-col-reverse#{$breakpoint-separator}#{$breakpoint-name} {
			flex-direction: column-reverse;
		}

		&.-row#{$breakpoint-separator}#{$breakpoint-name} {
			flex-direction: row;
		}

		&.-row-reverse#{$breakpoint-separator}#{$breakpoint-name} {
			flex-direction: row-reverse;
		}

		&.-start#{$breakpoint-separator}#{$breakpoint-name} {
			justify-content: flex-start;
		}

		&.-center#{$breakpoint-separator}#{$breakpoint-name} {
			justify-content: center;
		}

		&.-end#{$breakpoint-separator}#{$breakpoint-name} {
			justify-content: flex-end;
		}

		&.-space-between#{$breakpoint-separator}#{$breakpoint-name} {
			justify-content: space-between;
		}

		&.-top#{$breakpoint-separator}#{$breakpoint-name} {
			align-items: flex-start;
		}

		&.-middle#{$breakpoint-separator}#{$breakpoint-name} {
			align-items: center;
		}

		&.-bottom#{$breakpoint-separator}#{$breakpoint-name} {
			align-items: flex-end;
		}

		&.-nowrap#{$breakpoint-separator}#{$breakpoint-name} {
			flex-wrap: nowrap;
		}
	}
}

.o-layout_item {
	@each $suffix, $gutter-size in $gutter-sizes {
		.o-layout.-gutter-x#{$suffix} > & {
			padding-left: rem($gutter-size);
		}
		.o-layout.-gutter-y#{$suffix} > & {
			padding-top: rem($gutter-size);
		}
	}

	&.-fill {
		flex: 1;
	}

	&.-flex-default {
		flex: 0 1 auto;
	}

	@include responsive-breakpoints {
		@each $suffix, $gutter-size in $gutter-sizes {
			.o-layout.-gutter-x#{$suffix}#{$breakpoint-separator}#{$breakpoint-name} & {
				padding-left: rem($gutter-size);
			}
			.o-layout.-gutter-y#{$suffix}#{$breakpoint-separator}#{$breakpoint-name} & {
				padding-top: rem($gutter-size);
			}
		}

		&.-fill#{$breakpoint-separator}#{$breakpoint-name} {
			flex: 1;
		}

		&.-flex-default#{$breakpoint-separator}#{$breakpoint-name} {
			flex: 0 1 auto;
		}
	}
}
