// A list of aspect ratios that get generated as modifier classes.
// You should predefine it with only the ratios and names your project needs.
//
// The map keys are the strings used in the generated class names, and they can
// follow any convention, as long as they are properly escaped strings. i.e.:
//
//   $ratios: (
//     "2\\:1"         : (2:1),
//     "4-by-3"        : (4:3),
//     "full-hd"       : (16:9),
//     "card-image"    : (2:3),
//     "golden-ratio"  : (1.618:1) -> non-integers are okay
//   );

$ratios: (
	"4\\:3": (
		4: 3,
	),
	"16\\:9": (
		16: 9,
	),
);

// Create ratio-bound content blocks, to keep media (e.g. images, videos) in
// their correct aspect ratios.
//
// http://alistapart.com/article/creating-intrinsic-ratios-for-video
//
// 1. Default cropping is a 1:1 ratio (i.e. a perfect square).

.o-ratio {
	@include ratio(
		(
			1: 1,
		)
	); // [1]
}

// Generate a series of ratio classes to be used like so:
// <div class="o-ratio -16:9">

@each $ratio-name, $ratio-value in $ratios {
	.o-ratio.\-#{$ratio-name} {
		@include ratio($ratio-value, false);
	}
}

// Apply this class to the content that needs to follow the ratio.
// Media's default positioning is cover and center in the ratio box.

.o-ratio_content,
img,
video,
picture > img,
iframe,
embed,
object {
	.o-ratio > & {
		@include absolute-fill("cover");
	}

	// We can contain the media in the ratio box.
	.o-ratio.-contain > & {
		object-fit: contain;
	}

	// We can position the media in different locations within the ratio box.
	.o-ratio.-top > & {
		object-position: top;
	}

	.o-ratio.-right > & {
		object-position: right;
	}

	.o-ratio.-bottom > & {
		object-position: bottom;
	}

	.o-ratio.-left > & {
		object-position: left;
	}
}
