// Create consistent styling and spacing between sections

$negative-selector: "";

@each $key, $value in $section-colors {
	$negative-selector-copy: $negative-selector;
	$negative-selector: "#{$negative-selector-copy}:not(.-#{$key})";
}

.o-section {
	@include section;

	@each $size, $section-attributes in $sections {
		@if ($size != "default") {
			&.-#{$size} {
				@include section($size);
			}
		}
	}

	&.-no-spacing {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.-no-spacing-top {
		padding-top: 0;
	}

	&.-no-spacing-bottom {
		padding-bottom: 0;
	}

	&.-collapse#{$negative-selector} {
		& + .o-section.-collapse#{$negative-selector} {
			padding-top: 0;
		}
	}

	@each $key, $value in $section-colors {
		&.-#{$key} {
			color: map-deep-get($section-colors, $key, "color");
			background-color: map-deep-get($section-colors, $key, "background");

			&.-collapse + .o-section.-#{$key}.-collapse {
				padding-top: 0;
			}
		}
	}
}
