@import "0-settings/config";
@import "0-settings/fonts";

.c-swatch {
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 2px solid #ececec;
	border-radius: 50%;

	.selected & {
		border: 2px solid black;
	}

	&.-primary-300 {
		background-color: $primary-300;
	}

	&.-primary-500 {
		background-color: $primary-500;
	}

	&.-primary-700 {
		background-color: $primary-700;
	}

	&.-secondary-300 {
		background-color: $secondary-300;
	}

	&.-secondary-500 {
		background-color: $secondary-500;
	}

	&.-secondary-700 {
		background-color: $secondary-700;
	}

	&.-surface-300 {
		background-color: $surface-300;
	}

	&.-surface-500 {
		background-color: $surface-500;
	}

	&.-surface-700 {
		background-color: $surface-700;
	}

	&.-background-500 {
		background-color: $background-500;
	}
}

.acf-clone-fields.acf-fields.-top.-border {
	border: none;
}

[data-name="color_palette"][data-type="radio"] {
	padding: 0 !important;

	.acf-label {
		display: none;
	}

	.acf-radio-list {
		label {
			input {
				position: absolute;
				left: 0;
				width: 0;
				height: 0;
				visibility: hidden;
			}
		}
	}
}
