// Context
// ==========================================================================

$theme-name: "wp-base-theme";
$theme-path: "/wp-content/themes/#{$theme-name}/";
$src-path: "/wp-content/themes/#{$theme-name}/assets/src/";

// Typography
// =============================================================================

// Weights
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// Global font size
$global-font-size: 16px;

// Global font family
$global-font-family: "Arial";

// Typography styles
//
// The following typography styles are required:
// h1, h2, h3, h4, h5, h6, body1
//
// The following typography styles are optional,
// but they should be used by the design team if there's additional styles:
// h0, subtitle1, subtitle2, caption, overline, button
//
// These typography style are going to:
// - Get applied to their respective elements: h1, h2, etc.
// - Generate the following classes: o-typography -h1, o-typography -h2, etc.
//
// Available parameters
// font-family
// font-weight
// font-size
// font-size-laptop
// font-size-tablet
// font-size-mobile
// min-font-size
// line-height
// text-transform
// letter-spacing
// opacity
// margin-top *
// margin-bottom *
//
// * Margins are only applied when inside the scope of s-content
$typography-styles: (
	"h1": (
		"font-family": $global-font-family,
		"font-weight": $bold,
		"font-size": 32px,
		"line-height": 1.2,
		"text-transform": none,
		"letter-spacing": 0,
		"margin-top": 0.67em,
		"margin-bottom": 0.67em,
	),
	"h2": (
		"font-family": $global-font-family,
		"font-weight": $bold,
		"font-size": 24px,
		"line-height": 1.2,
		"text-transform": none,
		"letter-spacing": 0,
		"margin-top": 0.83em,
		"margin-bottom": 0.83em,
	),
	"h3": (
		"font-family": $global-font-family,
		"font-weight": $bold,
		"font-size": 20px,
		"line-height": 1.2,
		"text-transform": none,
		"letter-spacing": 0,
		"margin-top": 1em,
		"margin-bottom": 1em,
	),
	"h4": (
		"font-family": $global-font-family,
		"font-weight": $bold,
		"font-size": 16px,
		"line-height": 1.2,
		"text-transform": none,
		"letter-spacing": 0,
		"margin-top": 1.33em,
		"margin-bottom": 1.33em,
	),
	"h5": (
		"font-family": $global-font-family,
		"font-weight": $bold,
		"font-size": 12px,
		"line-height": 1.2,
		"text-transform": none,
		"letter-spacing": 0,
		"margin-top": 1.67em,
		"margin-bottom": 1.67em,
	),
	"h6": (
		"font-family": $global-font-family,
		"font-weight": $bold,
		"font-size": 11px,
		"line-height": 1.2,
		"text-transform": none,
		"letter-spacing": 0,
		"margin-top": 2.33em,
		"margin-bottom": 2.33em,
	),
	"body1": (
		"font-family": $global-font-family,
		"font-weight": $normal,
		"font-size": 16px,
		"line-height": 1.2,
		"text-transform": none,
		"letter-spacing": 0,
		"margin-top": 1em,
		"margin-bottom": 1em,
	),
	"body2": (
		"font-family": $global-font-family,
		"font-weight": $normal,
		"font-size": 14px,
		"line-height": 1.2,
		"text-transform": none,
		"letter-spacing": 0,
		"margin-top": 1em,
		"margin-bottom": 1em,
	),
);

// Colors
// More information on the color system: https://material.io/design/color/the-color-system.html
// ==========================================================================

// Primary
$primary-300: #ffffff;
$primary-500: #ffffff;
$primary-700: #ffffff;

// Secondary
$secondary-300: #ffffff;
$secondary-500: #ffffff;
$secondary-700: #ffffff;

// Surfaces
$surface-300: #ffffff;
$surface-500: #ffffff;
$surface-700: #ffffff;

// Background
$background-500: #ffffff;

// Borders
$border-300: #000000;
$border-500: #000000;
$border-700: #000000;

// "On"
$on-primary-300: #000000;
$on-primary-500: #000000;
$on-primary-700: #000000;

$on-secondary-300: #000000;
$on-secondary-500: #000000;
$on-secondary-700: #000000;

$on-surface-300: #000000;
$on-surface-500: #000000;
$on-surface-700: #000000;

$on-background-500: #000000;

// Containers
// ==========================================================================

$containers: (
	"sm": (
		"max-width": 1440px,
		"spacing-desktop": 160px,
		"spacing-laptop-l": 120px,
		"spacing-laptop": 80px,
		"spacing-tablet": 40px,
		"spacing-mobile": 24px,
	),
	"md": (
		"max-width": 1920px,
		"spacing-desktop": 120px,
		"spacing-laptop-l": 80px,
		"spacing-laptop": 56px,
		"spacing-tablet": 40px,
		"spacing-mobile": 24px,
	),
);

// Section
// ==========================================================================

$sections: (
	"compact": (
		"spacing-top-desktop": 80px,
		"spacing-bottom-desktop": 80px,
		"spacing-top-laptop": 64px,
		"spacing-bottom-laptop": 64px,
		"spacing-top-tablet": 40px,
		"spacing-bottom-tablet": 40px,
	),
	"default": (
		"spacing-top-desktop": 120px,
		"spacing-bottom-desktop": 120px,
		"spacing-top-laptop": 96px,
		"spacing-bottom-laptop": 96px,
		"spacing-top-tablet": 56px,
		"spacing-bottom-tablet": 56px,
	),
	"roomy": (
		"spacing-top-desktop": 160px,
		"spacing-bottom-desktop": 160px,
		"spacing-top-laptop": 120px,
		"spacing-bottom-laptop": 120px,
		"spacing-top-tablet": 72px,
		"spacing-bottom-tablet": 72px,
	),
);

$section-colors: (
	"primary-500": (
		"background": $primary-500,
		"color": $on-primary-500,
	),
	"secondary-500": (
		"background": $secondary-500,
		"color": $on-secondary-500,
	),
	"surface-500": (
		"background": $surface-500,
		"color": $on-surface-500,
	),
);

// Transitions
// =============================================================================

// Ease-in
$ease-in-power-1: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-power-2: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-power-3: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-power-4: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-exponential: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);

// Ease-out
$ease-out-power-1: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-power-2: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-power-3: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-power-4: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-exponential: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);

// Ease-in-out
$ease-in-out-power-1: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-power-2: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-power-3: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-power-4: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-exponential: cubic-bezier(1, 0, 0, 1);
$ease-in-out-sine: cubic-bezier(0.45, 0.05, 0.55, 0.95);

// Other
$easing-bounce: cubic-bezier(0.17, 0.67, 0.3, 1.33);
$easing-gravity: cubic-bezier(0.33333, 0, 0.66667, 0.33333);

$fast-speed: 200ms;
$medium-speed: 400ms;
$slow-speed: 600ms;

$standard-easing: $ease-in-out-power-1;
$incoming-easing: $ease-out-power-1;
$exiting-easing: $ease-in-power-1;

// Breakpoints
// ==========================================================================

$from-desktop-l: 2560px;
$from-desktop: 1920px;
$from-laptop-l: 1440px;
$from-laptop-m: 1200px;
$from-laptop: 1000px;
$from-tablet: 700px;
$from-mobile-l: 425px;
$from-mobile-m: 375px;

$to-desktop: $from-desktop + 1; //1921px
$to-laptop-l: $from-laptop-l + 1; //1441px
$to-laptop-m: $from-laptop-m + 1; //1201px
$to-laptop: $from-laptop + 1; //1001px
$to-tablet: $from-tablet + 1; //701px
$to-mobile-l: $from-mobile-l + 1; //426px
$to-mobile-m: $from-mobile-m + 1; //376px

// Core media query breakpoints used for generating responsive classes
$responsive-breakpoints: (
	desktop: $from-laptop-l,
	laptop: $from-laptop,
	tablet: $from-tablet,
	mobile: $from-mobile-l,
);

// This defines the separator for the breakpoints suffix
// in the class name. By default, we are generating the responsive suffixes
// for the classes with a '@' symbol so you get classes like:
// <div class="u-3/12@mobile">
$breakpoint-separator: \@;

// Spacing units
// ==========================================================================
$spacing-unit-xxxs: 2px;
$spacing-unit-xxs: 4px;
$spacing-unit-xs: 8px;
$spacing-unit-sm: 16px;
$spacing-unit: 24px;
$spacing-unit-lg: 32px;
$spacing-unit-xl: 56px;
$spacing-unit-xxl: 88px;
$spacing-unit-xxxl: 144px;

// Scaling
// ==========================================================================
$scale-factor: 0.0625;

// Global variables
// ==========================================================================
