$accordion-padding: 32px;
$accordion-icon-size: 16px;

.c-accordion {
	position: relative;
}

.c-accordion_head {
	position: relative;
	padding-right: rem($accordion-padding + $accordion-icon-size + $accordion-padding);
	padding-left: rem($accordion-padding);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.c-accordion_head::after,
.c-accordion_head::before {
	content: "";
	position: absolute;
	top: 50%;
	display: block;
	transform: translateY(-50%);
	background-color: currentColor;
}

.c-accordion_head::after {
	right: rem($accordion-padding);
	width: rem($accordion-icon-size);
	height: 2px;
}

.c-accordion_head::before {
	right: calc(#{rem($accordion-padding + math.div($accordion-icon-size, 2))} - 1px);
	width: 2px;
	height: rem($accordion-icon-size);
	transform: translateY(-50%) scale3d(1, 1, 1);
	transform-origin: center;
	@include transition("transform");

	.c-accordion.is-expanded & {
		transform: translateY(-50%) scale3d(1, 0, 1);
	}
}

.c-accordion_body {
	height: 0px;
	overflow: hidden;
	@include transition("height");
}

.c-accordion_content {
	//...
}
