.c-file {
	input,
	.file {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		overflow: hidden;
		white-space: nowrap;
		clip: rect(0, 0, 0, 0);
	}
}

.c-file_btn {
	cursor: pointer;
}

.c-file_document {
}

.c-file_name {
	display: block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.c-file_size {
	white-space: nowrap;
}

.c-file_clear {
	cursor: pointer;

	&::after {
		content: "";
		@include icon("clear");
	}
}
