.u-bg-primary-300 {
	background-color: $primary-300 !important;
	color: $on-primary-300 !important;
}

.u-bg-primary-500 {
	background-color: $primary-500 !important;
	color: $on-primary-500 !important;
}

.u-bg-primary-700 {
	background-color: $primary-700 !important;
	color: $on-primary-700 !important;
}

.u-bg-secondary-300 {
	background-color: $secondary-300 !important;
	color: $on-secondary-300 !important;
}

.u-bg-secondary-500 {
	background-color: $secondary-500 !important;
	color: $on-secondary-500 !important;
}

.u-bg-secondary-700 {
	background-color: $secondary-700 !important;
	color: $on-secondary-700 !important;
}

.u-bg-surface-300 {
	background-color: $surface-300 !important;
	color: $on-surface-300 !important;
}

.u-bg-surface-500 {
	background-color: $surface-500 !important;
	color: $on-surface-500 !important;
}

.u-bg-surface-700 {
	background-color: $surface-700 !important;
	color: $on-surface-700 !important;
}

.u-bg-background-500 {
	background-color: $background-500 !important;
	color: $on-background-500 !important;
}

.u-text-primary-300 {
	color: $primary-300 !important;
}

.u-text-primary-500 {
	color: $primary-500 !important;
}

.u-text-primary-700 {
	color: $primary-700 !important;
}

.u-text-secondary-300 {
	color: $secondary-300 !important;
}

.u-text-secondary-500 {
	color: $secondary-500 !important;
}

.u-text-secondary-700 {
	color: $secondary-700 !important;
}

.u-text-surface-300 {
	color: $surface-300 !important;
}

.u-text-surface-500 {
	color: $surface-500 !important;
}

.u-text-surface-700 {
	color: $surface-700 !important;
}
