// Utility classes to put specific spacing values onto elements.
// The below loop will generate us a suite of classes like:
//
//   .u-margin-top {}
//   .u-padding-left-lg {}
//   .u-margin-right-auto {}
//   .u-padding-right-none {}

$spacing-directions: (
	"-top": "-top",
	"-right": "-right",
	"-bottom": "-bottom",
	"-left": "-left",
);

$spacing-properties: (
	"padding": "padding",
	"margin": "margin",
);

$spacing-sizes: (
	"-xxxs": $spacing-unit-xxxs,
	"-xxs": $spacing-unit-xxs,
	"-xs": rem($spacing-unit-xs),
	"-sm": rem($spacing-unit-sm),
	null: rem($spacing-unit),
	"-lg": rem($spacing-unit-lg),
	"-xl": rem($spacing-unit-xl),
	"-xxl": rem($spacing-unit-xxl),
	"-xxxl": rem($spacing-unit-xxxl),
	"-none": 0,
	"-auto": auto,
);

@each $property-namespace, $property in $spacing-properties {
	@each $direction-namespace, $direction-rules in $spacing-directions {
		@each $size-namespace, $size in $spacing-sizes {
			.u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {
				@each $direction in $direction-rules {
					#{$property}#{$direction}: $size !important;
				}
			}
		}
	}
}

// We repeat the same loop so the generated CSS comes after the non-reponsive classes (for specificity purposes)
@include responsive-breakpoints {
	@each $property-namespace, $property in $spacing-properties {
		@each $direction-namespace, $direction-rules in $spacing-directions {
			@each $size-namespace, $size in $spacing-sizes {
				.u-#{$property-namespace}#{$direction-namespace}#{$size-namespace}\@#{$breakpoint-name} {
					@each $direction in $direction-rules {
						#{$property}#{$direction}: $size !important;
					}
				}
			}
		}
	}
}
