.u-hidden {
    display: none !important;
}

.u-text-left {
    text-align: left !important;
}

.u-text-center {
    text-align: center !important;
}

.u-text-right {
    text-align: right !important;
}

.u-overflow-visible {
    overflow: visible !important;
}
