// This generates a series of utility classes that give a fluid width to whichever element they're applied, e.g.:
//
//   <img src="" alt="" class="u-1/2" />
//
// These classes are most commonly used in conjunction with our layout system, e.g.:
//
//   <div class="o-layout_item u-1/2">
//
// This will also generate responsive variants of each of these classes by using the $responsive-breakpoints map, e.g.:
//
//   <div class="o-layout_item u-1/1 u-1/2@tablet u-1/3@desktop">

// This provides you fractions of one whole, halves, thirds, quarters and fifths, e.g.:
//
//   .u-1/2
//   .u-2/5
//   .u-3/4
//   .u-2/3

$fractions: 1 2 3 4 5;

// A mixin to spit out our width classes. Pass in the columns we want the widths to have,and an optional suffix for responsive widths.
// E.g. to create thirds and quarters for a small breakpoint:
//
// @include widths(3 4, -sm);

@mixin widths($columns, $breakpoint: null) {
	// Loop through the number of columns for each denominator of our fractions.
	@each $denominator in $columns {
		// Begin creating a numerator for our fraction up until we hit the denominator.
		@for $numerator from 1 through $denominator {
			@if ($numerator !=$denominator or $denominator==1) {
				// Build a class in the format `.u-3/4[@<breakpoint>]`.

				.u-#{$numerator}\/#{$denominator}#{$breakpoint} {
					width: math.div($numerator, $denominator) * 100% !important;
				}
			}
		}
	}
}

@include widths($fractions);

// Automatically generate widths for each of our defined breakpoints and give them a responsive suffix, e.g.:
//
// <div class="u-3/12@mobile">

@if (variable-exists(responsive-breakpoints)) {
	@each $breakpoint-name, $breakpoint-value in $responsive-breakpoints {
		@media (max-width: #{$breakpoint-value}) {
			@include widths($fractions, #{$breakpoint-separator}#{$breakpoint-name});
		}
	}
}
