::selection {
	background-color: $primary-500;
	color: $on-primary-500;
	text-shadow: none;
}

html {
	min-height: 100%;
	font-family: $global-font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: $from-laptop) {
		font-size: $global-font-size * (1 - $scale-factor * 2);
	}

	@media (max-width: $from-laptop-m) and (min-width: $to-laptop) {
		font-size: $global-font-size * (1 - $scale-factor);
	}

	@media (max-width: $from-laptop-l) and (min-width: $to-laptop-m) {
		font-size: $global-font-size;
	}

	@media (max-width: $from-desktop) and (min-width: $to-laptop-l) {
		font-size: $global-font-size * (1 + $scale-factor);
	}

	@media (min-width: $to-desktop) {
		font-size: $global-font-size * (1 + $scale-factor * 2);
	}
}

body {
	background-color: $background-500;
	color: $on-background-500;
}
