a {
	color: inherit;
}

p {
	@include typography-style("body1");
}

h1 {
	@include typography-style("h1");
}

h2 {
	@include typography-style("h2");
}

h3 {
	@include typography-style("h3");
}

h4 {
	@include typography-style("h4");
}

h5 {
	@include typography-style("h5");
}

h6 {
	@include typography-style("h6");
}

.s-content {
	& > h1:first-child,
	& > h2:first-child,
	& > h3:first-child,
	& > h4:first-child,
	& > h5:first-child,
	& > h6:first-child,
	& > p:first-child,
	& > a:first-child {
		margin-top: 0 !important;
	}

	& > h1:last-child,
	& > h2:last-child,
	& > h3:last-child,
	& > h4:last-child,
	& > h5:last-child,
	& > h6:last-child,
	& > p:last-child,
	& > a:last-child {
		margin-bottom: 0 !important;
	}
}
